.sidenav {
    height: 100%;
    width: 16.66%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav .brand, .sidenav .manage-title{
    padding: 8px 8px 8px 32px;
    color: #f1f1f1;
    margin: 5px 0;
}
  
.sidenav a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav>.active {
    color: #f1f1f1;
}